body
{
    color: #40514e;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1
{
    color: #02475e;
    margin: auto;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    
}
h2
{
    color: #02475e;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-bottom: 10px;

}
h3
{
    color: #11999e;
    font-family: 'Montserrat', sans-serif;

}
p
{
    line-height: 2;

}
hr
{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    margin: 100px auto 100px auto;
    width: 4%;

}
a{
    color: #0a6669;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}
a:hover
{
    color: #c5e9eb;
}
.top-container
{
    background-color: #a7bbc7;
    position: relative;
    padding-top: 200px;
}
.middle-container
{
    margin: 100px;
}
.bottom-container
{
    background-color: #11999e;
    padding: 50px 0 20px;
}

.skill-row
{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.top-cloud
{
    position: absolute;
    right: 400px;
    top: 100px;
}
.bottom-cloud
{
    position: absolute;
    left: 350px;
    bottom: 350px;
}
.aman-img
{
    margin-top: 20px;
    height: 150px;
    width: 150px;
    ;
}
.laptop-img
{
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 30px;
}
.chillie-img
{
    height: 150px;
    width: 150px;
    float: right;
    margin-left: 30px;
}
.web-h2
{
    margin-top: 0;
}
.intro
{
    width: 30%;
    margin: auto;
    
}
.contact-message
{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .copyright
  {
      color: #eaf6f6;
      font-size: 0.75rem;
      padding: 20px 0;
  }
